@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: white; */
  }
  
  
  
  :root {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 600;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(255, 255, 255);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  }
  